.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0px 8px;
    min-width: 90px;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    user-select: none;
    display: flex;
    justify-content: center;
    
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}



//Button type

.outline {
    font-size: 1.4rem;
    min-width: 0px;
    color: #fff;
    border-color: currentColor;

    &:hover {
        background-color: #fff;
        color: var(--primary-color);
    }
}

.more {
    font-size: 2.0rem;
    line-height: 100%;
    display: flex;
    align-items: center;
}

.search{
    font-size: 2.0rem;
    color: #01b4e4;
    display: flex;
    align-items: center;
}

.footer{
    font-size: 1.7rem;
    font-weight: 500;
    padding: 0.2rem 0rem;
    justify-content: left;
}

.profile{
    min-width: 164px;
    min-height: 43px;
    padding: 8px 16px;
    font-size: 1.7rem;
    font-weight: bold;
    background-color: #fff;
    color: #01b4e4;
    display: flex;
    align-items: center;
}

.menuResult{
    color: #000000;
    padding-left: 0%;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 400;
}

.titleCard{
    color: #000000;
    font-size: 2rem;
    padding-left: 0%;
}

.image{
    display: flex;
    align-items: center;
}