.card {
  display: flex;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  margin-bottom: 20px;

  .poster {
    width: 94px;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    .poster-img{
      min-width: 100%;
      border-radius: 10px 0px 0px 10px;
    }
  }

  .details {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      .date {
        color: #ccc;
        font-size: 1.4rem;
        margin-top: 5px;
        font-weight: 500;
      }
    }
    .overview {
      line-height: 1.4;
      font-size: 1.4rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
